/* Reset default margin and padding */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
    margin: 0; /* Reset default margin */
    /* Your existing styles */
    background-color: #f5f5f5;
    background-image: url('brandi-redd-aJTiW00qqtI-unsplash.jpg');
    background-size: cover;
    animation: animateBackground 20s linear infinite;
    background-blend-mode: multiply;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header styles */
header {
    background-color: #041f39;
    color: #fff;
    padding: 15px 0;
}

h2{
    font-size: 35px;
}
header h1 {
    margin: 0;
    font-size: 50px;
    font-family: Optima, sans-serif; 
    font-style: italic;
}

header nav ul {
    list-style: none;
    margin-top: 20px;
}

header nav ul li {
    display: inline-block;
    margin-left: 20px;
}
header nav ul li a {
    color: #fff;
    transition: color 0.3s; /* Add transition effect */
}
header nav ul li a:hover {
    color: #ffd700; /* Change color on hover */
}
header nav ul li:first-child {
    margin-left: 0;
}

/* About section styles */
#about {
    padding: 80px 0;
}

.profile-picture {
    width: 100px;
    height: 30px;
    border-radius: 50%;
    margin-left: 20px;
    display: inline-block;
    animation: slideFromRight 10s ease;
}
.profile-picture img {
    width: 500px; /* Set width to 100% */
    /* height: auto; Maintain aspect ratio */
    /* border-radius: 50%; */
    height: 500px;
}


.profile-description {
    display: inline-block;
    vertical-align: top;
    animation: fadeIn 1s ease;
    margin-right: 20px;
}
.profile-description p {
    font-size: 23px;
    color: #17031c;
    /* animation-duration: 3s;
    animation-name: slidein; */
    animation: slideFromBottom 5s ease;
    
}

/* Skills section styles */
#skills {
    padding: 80px 0;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align items to the left */
}

.skill {
    padding: 10px;
    margin: 10px;
    animation: flipInX 3s ease;
}

.skill h3 {
    margin-bottom: 5px;
}

.skill img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    transition: transform 0.3s; /* Add transition effect */
}

.skill img:hover {
    transform: scale(1.1); /* Enlarge image on hover */
}

.skill-level {
    background-color: #ddd;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
    width: 100px;
    margin: 0 auto;
}

.skill-level-bar {
    height: 100%;
    background-color: #007bff;
}

/* Projects section styles */
#projects {
    padding: 80px 0;
}

.projects-grid {
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    flex-wrap: wrap;
}

.projects-grid:hover{
    color: #e54690;
}

.project {
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease;
}
.project img {
    width: 50px; /* Set the desired width */
    height: 50px; /* Set the desired height */
}


/* Contact section styles */
#contact {
    padding: 80px 0;
}

.contact-icons {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-icons img {
    width: 40px; /* Adjust the width of the images */
    height: 40px; /* Adjust the height of the images */
    margin-right: 10px;
    transition: transform 0.3s; /* Add transition effect */
}

.contact-icons img:hover {
    transform: scale(1.1); /* Enlarge image on hover */
}

.contact-icons a {
    color: #333;
    margin-right: 10px; /* Adjust margin-right instead of margin-left */
    transition: color 0.3s;
}

.contact-icons a:hover {
    color: #007bff;
}

.contact-form {
    max-width: 500px;
    margin: 0, 0;
    animation: slideFromRight 5s ease-in-out;
    align-content: flex-start;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
/* Contact section styles */
#contact {
    padding: 80px 0;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    animation: flipInX 7s ease;
}

.contact-icons {
    font-size: 24px;
    display: flex;
    align-items: center;
    
}

.contact-icons a {
    color: #333;
    margin-right: 10px;
    transition: color 0.3s;
}
.contact-icons img {
    height: 60px;
    width: 60px;
}

.contact-icons a:hover {
    color: #007bff;
}

.contact-form {
    max-width: 500px;
}

.form-group {
    margin-bottom: 20px;
}
.form-group:hover {
    color: #0b3cc0;
}

label {
    display: block;
    margin-bottom: 5px;

}

input[type="text"],
input[type="email"],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}


/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    clear: both;
}
.project {
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: fadeIn 10s ease;
}
.project.animated {
    animation: fadeIn 5s ease;
}
.certificates{
    padding: 10px;
    margin: 10px;
}
.cert-grid{
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    flex-wrap: wrap;
    animation: slideFromBottom 3s ease;
}
.slide img{
    height:300px;
    width: 450px;
    padding: 10px;
}

/* Keyframe animations */

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    75% {
      font-size: 300%;
      margin-left: 25%;
      width: 150%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); /* Start from slightly below */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Move to original position */
    }
}
@keyframes animateBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}
@keyframes slideFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideFromBottom {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes flipInX {
    from {
        transform: perspective(400px) rotateX(90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotateX(-20deg);
        animation-timing-function: ease-in;
    }

    60% {
        transform: perspective(400px) rotateX(10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotateX(-5deg);
    }

    to {
        transform: perspective(400px);
    }
}
@media screen and (max-width: 768px) {
    /* CSS styles for screens smaller than 768px width */
    /* Adjustments for smaller screens */
}
