body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0c0c0c;
}

.login-container {
    width: 500px;
    height: 700px;
    /* max-width: 400px; */
    margin: 100px auto;
    background-color: #f3f6f1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #6ffd02 ;
    color: rgb(11, 10, 10);
    font-weight: bold;
    justify-content: center;
}

h2 {
    margin: 40px;
    text-align: center;
    font-size: 5vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #053503;
}

.input-group {
    margin-bottom: 30px;
}

.input-group label {
    display: block;
    margin-bottom: 15px;
}

.input-group input {
    width: 90%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 95%;
    padding: 20px;
    background-color: #111111;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #198043;
}
.logo img{
    height: 50px;
    width: 60px;
}

.margin{
    max-width: 400%;
    height: 60px;
}

.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}
.line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}
.form-link{
    text-align: center;
    margin-top: 10px;
}
.forgot-pass{
    padding: 20px 20px;
}
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}
.form a{
    color: #0171d3;
    text-decoration: none;
}
.form-content a:hover{
    text-decoration: underline;
}